<head>

  
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
-->
</head>

<nav>
  <ul>
    <li class="yelpcamp">
      YelpCamp
    </li>
    <li class="search">
      <i class="material-icons">search</i>
    </li>
    <li>
      About
    </li>
    <li>
      Contact
    </li>
  </ul>
</nav>
