<h1>List of movies</h1>
<ul>
<% data.forEach((elem) => { %>
  <li>
    <img src= <%= elem["Poster"] %> height="50px" >
     <%= elem["Title"] %> (<%= elem["Year"] %>), <%= elem["imdbID"] %>
  </li>
<% }) %>

</ul>
