<% include partials/header %>
<body>
<h2>Login</h2>
<form action='/login' method='POST'>
  <input name='username' type='text' placeholder='username'>
  <input name='password' type='password' placeholder='password'>
  <button>Submit</button>
</form>
</body>
<% include partials/footer %>
