i.icon {
  font-size: 2em;
}
.container.main {
  margin-top: 6em;
}

#more {
  font-size: .6em;
  position: relative;
  //border: red 1px solid;
  top: -1px;
  right: 0px;
}
footer {
  margin-top: 6em;
  padding-bottom: 2em;
  text-align: center;
  //border: red 2px solid;

}
