<% include ../partials/header %>




  <div class="container">
 <div >
   <form action='/campgrounds/new'>
   <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
   Create new campground
   </button>
   </form>
   </div>

    <div class="campgrounds mdl-grid">

      <% campgrounds.forEach(x => { %>
        <div class='mdl-cell--stretch'>

        <div class="demo-card-image mdl-card mdl-shadow--2dp" style='background-image:url(<%=x.image%>); background-size:cover'>
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
      <a href='/campgrounds/<%= x.id %>'><span class="demo-card-image__filename"> <%= x.name %></span></a>
      </div>
      </div>

  </div>

      <% }) %>

    </div>

  </div>


    </div>
  <% include ../partials/footer %>
