<% include ../partials/header %>




  <div class="container">
 <div >
   <form action='/campgrounds/new'>
   <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
   Create new campground
   </button>
   </form>
   </div>

    <div class="campgrounds">
    
      <% campgrounds.forEach(x => { %>
        <div class="demo-card-image mdl-card mdl-shadow--2dp" style='background-image:url(<%=x.image%>); background-size:cover'>
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
      <span class="demo-card-image__filename"> <%= x.name %></span>
      </div>
      </div>


      <% }) %>
    </div>
<h4><%= currentUser %><h4>
  </div>
  <div  style=' background-image:url(images/camp1.jpg)'>

    </div>
    <script src="/script.js"></script>
  </body>
