<% include partials/header %>


<h1> you fell in love with <%= thing.toUpperCase() %> </h1>


<% if (thing.toLowerCase()  === "rusty") { %>
<p>Good choice, rusty is the best!</p>
<% } else { %>
<p> Boo!</p>
<% } %>


<% include partials/footer %>