<% include partials/header %>
<div class="ui main container">
<h1>My Blogs</h1>
<% blogs.forEach((x) => { %>
  <div>
    <h3><%= x.title %></h3>
    <img src=<%= x.image %>>
    <p>
      <%= x.body %>
    </p>
  </div>

<br />
<% }) %>

</div>
<% include partials/footer %>
