<% include partials/header %>

<body>
  <div class="nav">
  <a href="/"><i class="material-icons">arrow_back</i></a>
  <a href="#" onclick="handleAdd()"><i class="material-icons">add</i></a>

  </div>

  <div class="container">

    <div class="hidden" id="addCamp">
      <h2>add camp</h2>
      <form action="/campgrounds" method="POST">
<input placeholder="New Campground Name" name="camp" type="text" />
 <input type="submit" value="Add Campground!" />
</form>
     </div>
  <% campgrounds.forEach(x => { %>
    <div class="campgrounds">
  <div class="campground">
  <img src = <%=x.image%> height: '200px' >
  <h2 class="campgroundName"><%= x.name %></h2>
   </div>
  </div>
  <% }) %>
  </div>

    <script src="/script.js"></script>
</body>
