<% include partials/header %>

<body clas="preload">
<div class="nav">
<a href="/"><i class="material-icons">arrow_back</i></a>

</div>

<div class="container">
<% campgrounds.forEach(x => { %>
  <div>
<div class="campground">
<img src = <%=x.image%> height: '200px' >
<h2 class="campgroundName"><%= x.name %></h2>
 </div>
</div>
<% }) %>
</div>
</body>
